<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>ARIHeaderCell</string>
			<key>height</key>
			<integer>135</integer>
		</dict>
		<dict>
			<key>alignment</key>
			<string>Left</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>更改这些设置，要注销设备。启用 &quot;保存状态&quot; 可以保留您的图标布局，即使在进入安全模式/库存时也是如此。
要编辑布局，请从长按主屏幕图标菜单或者三击主屏幕空白的地方调用编辑窗口。</string>
			<key>label</key>
			<string> 插件</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>启用功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>layoutEnabled</string>
			<key>label</key>
			<string>启用布局</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>enableAppLibrary</string>
			<key>label</key>
			<string>启用资源库</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>saveIconState</string>
			<key>label</key>
			<string>启用保存状态</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>如果这些设置没有立即应用，请尝试在桌面滚动到其他页面并返回。有些可能需要注销设备才能应用。</string>
			<key>label</key>
			<string> 通用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>disableDock</string>
			<key>label</key>
			<string>禁用Dock栏</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideBadges</string>
			<key>label</key>
			<string>隐藏图标角标</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideLabels</string>
			<key>label</key>
			<string>隐藏图标标签</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideFolderIconBG</string>
			<key>label</key>
			<string>隐藏文件夹背景</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hidePageDots</string>
			<key>label</key>
			<string>隐藏桌面翻页点</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideLabelsAppLibrary</string>
			<key>label</key>
			<string>隐藏资源库标签</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hideLabelsFolders</string>
			<key>label</key>
			<string>隐藏文件夹内标签</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>scaleInsideFolders</string>
			<key>label</key>
			<string>缩放文件夹内图标</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>隐藏菜单按钮: 隐藏在桌面图标菜单中激活Atria窗口的按钮。
禁用三击手势: 关闭在主屏幕上调用Atria窗口的三击手势。</string>
			<key>label</key>
			<string>激活</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>hide3DTouchActions</string>
			<key>label</key>
			<string>隐藏菜单按钮</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>disableTapGesture</string>
			<key>label</key>
			<string>禁用三击手势</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>在桌面显示可调节大小/模糊度/颜色的背景。</string>
			<key>label</key>
			<string>背景</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>showBackground</string>
			<key>label</key>
			<string>显示模糊背景</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>blurTintEnabled</string>
			<key>label</key>
			<string>自定义背景色</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>blurTintColor</string>
			<key>label</key>
			<string>选择模糊色调</string>
			<key>showAlphaSlider</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>在桌面显示欢迎文字。
你可以将ttf文件放在/Library/PreferenceBundles/AtriaPrefs.bundle/Custom.ttf来使用自定义字体。
如果字体加载失败，将使用默认字体。需要注销设备才能重新加载字体。</string>
			<key>label</key>
			<string>文字</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>showWelcome</string>
			<key>label</key>
			<string>显示欢迎文字</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBColorPickerTableCell</string>
			<key>default</key>
			<string>#FFFFFF</string>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>welcomeTextColor</string>
			<key>label</key>
			<string>选择文字颜色</string>
			<key>showAlphaSlider</key>
			<false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>me.lau.Atria/ReloadPrefs</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>在这里可以改为你喜欢的欢迎文字^_^</string>
			<key>defaults</key>
			<string>me.lau.AtriaPrefs</string>
			<key>key</key>
			<string>welcomeText</string>
			<key>placeholder</key>
			<string>在这里输入自定义文字</string>
		</dict>
		<dict>
			<key>action</key>
			<string>done</string>
			<key>alignment</key>
			<string>Left</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>搞定</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>在这你可以进行导入/导出配置或恢复插件默认设置。</string>
			<key>label</key>
			<string>配置</string>
		</dict>
		<dict>
			<key>action</key>
			<string>exportSettingsString</string>
			<key>alignment</key>
			<string>Left</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>导出插件配置</string>
		</dict>
		<dict>
			<key>action</key>
			<string>importSettingsString</string>
			<key>alignment</key>
			<string>Left</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>从剪贴板导入</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>alignment</key>
			<string>Left</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>重置所有设置</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetSaveState:</string>
			<key>alignment</key>
			<string>Left</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>重置保存状态</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>感谢所有在这一过程中帮助过我的人！向你们所有人致以深深的爱❤️
- Lauren</string>
			<key>label</key>
			<string>开发</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cellClass</key>
			<string>PSButtonCell</string>
			<key>description</key>
			<string> 开发者</string>
			<key>height</key>
			<integer>70</integer>
			<key>icon</key>
			<string>/Library/PreferenceBundles/AtriaPrefs.bundle/ProfilePictures/ren7995@3x.jpg</string>
			<key>label</key>
			<string>ren7995</string>
			<key>name</key>
			<string>ren7995</string>
			<key>sublabel</key>
			<string>插件开发者</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openAlphaStreamTwitter</string>
			<key>cellClass</key>
			<string>PSButtonCell</string>
			<key>description</key>
			<string>图标/建议</string>
			<key>height</key>
			<integer>70</integer>
			<key>icon</key>
			<string>/Library/PreferenceBundles/AtriaPrefs.bundle/ProfilePictures/Alpha_Stream@3x.jpg</string>
			<key>label</key>
			<string>Alpha_Stream</string>
			<key>name</key>
			<string>Alpha_Stream</string>
			<key>sublabel</key>
			<string>提供图标以及建议</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openCakePhoneTwitter</string>
			<key>cellClass</key>
			<string>PSButtonCell</string>
			<key>description</key>
			<string>调整图标/建议</string>
			<key>height</key>
			<integer>70</integer>
			<key>icon</key>
			<string>/Library/PreferenceBundles/AtriaPrefs.bundle/ProfilePictures/#L01f370cakePhone#L01f4f1@3x.jpg</string>
			<key>label</key>
			<string>🍰cakePhone📱</string>
			<key>name</key>
			<string>🍰cakePhone📱</string>
			<key>sublabel</key>
			<string>调整图标以及提供建议</string>
		</dict>
		<dict>
			<key>action</key>
			<string>source</string>
			<key>cellClass</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<integer>70</integer>
			<key>icon</key>
			<string>/Library/PreferenceBundles/AtriaPrefs.bundle/ProfilePictures/github@3x.jpg</string>
			<key>label</key>
			<string>开源项目</string>
			<key>sublabel</key>
			<string>原开源项目（需要挂V）</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Ball</string>
			<key>cellClass</key>
			<string>PSButtonCell</string>
			<key>height</key>
			<integer>70</integer>
			<key>icon</key>
			<string>/Library/PreferenceBundles/AtriaPrefs.bundle/ProfilePictures/github@3x.jpg</string>
			<key>label</key>
			<string>汉化项目</string>
			<key>sublabel</key>
			<string>已汉化开源项目（需要挂V）</string>
		</dict>
	</array>
	<key>title</key>
	<string>Atria</string>
</dict>
</plist>
